<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
<link type="text/css" rel="stylesheet" id="dark-mode-general-link">
<style lang="en" type="text/css" id="dark-mode-custom-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-sheet"></style>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>HUST - Explores</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Online Notepad is a browser based plain text editor with autosave functionality. It provides a more convenient way of writing down notes on the go.">
  <link rel="canonical">
  <link rel="icon"  href="https://hust.edu.vn/uploads/sys/android-icon-36x36.png">
  <link rel="stylesheet" href="index_files/icons.css">
  <link rel="stylesheet" href="index_files/style.css">
</head>

<body data-new-gr-c-s-check-loaded="14.1095.0" data-gr-ext-installed="">
  <nav class="navbar">
    <div class="wrapper"> <a class="brand">
        <h1>Home</h1>
      </a>
      <ul class="right">
        <li><a href="/mylogin">Sign In</a></li>
        <li><a href="/register">Sign Up</a></li>
      </ul>
    </div>
  </nav>
  
  <section class="hero">
    <h2 class="title">Explores Hanoi University of Science and Technology</h2>
    <p class="tagline">One of the best universities in the world in terms of science and technology.</p>
    <a class="app-btn" href="/mylogin">Start now</a>
    <div class="preview"><img alt="Online Notepad Screenshot" src="index_files/picture.jpg"></div>
  </section>

  <footer> <span><a>Explores HUST</a></span> <span>Created by <a
        href="https://www.linkedin.com/in/nguy%E1%BB%85n-%C4%91%C3%ACnh-l%E1%BB%99c-40a0b9220/">Lộc Sẹo</a></span>
    <span>Copyright <span style="font-family:sans-serif">©</span> 2022. All rights
      reserved.</span> </footer>
  <script src="index_files/jquery.min.js.download"></script>
  <script type="text/javascript">
    $("body").ready(function () { $("#about").on("click", function () { $("html, body").animate({ scrollTop: $(".content").offset().top }, 300) }) }), $('a[href="#"]').click(function (t) { t.preventDefault ? t.preventDefault() : t.returnValue = !1 });
  </script>
</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>